html, body {
  background-color: #fff;
  cursor: default;
  font-family: sans-serif;
}

div.poem {
  border-radius: 18px;
  -moz-border-radius: 18px;
  box-shadow: 1px 1px 2px 2px lightgray;
  padding: 12px;
  width: 400px;
  background-color: white;
}

p {
  padding: 0;
  margin: 0;
  display: inline-block;
}

p.title:before {
  font-family: FontAwesome;
  content: '\f002';
  padding-right: 12px;
  color: gray;
}

.close {
  font-family: FontAwesome;
  color: gray;
  padding-left: 12px;
  float: right;
}

.title {
  padding-bottom: 6px;
}

.line {
  width: 400px;
  height: 0px;
  border-bottom: 1px solid gainsboro;
  position: absolute;
}

p.typed {
  width: 400px;
  padding-top: 3px;
  padding-bottom: 3px;
}

p.typed:before {
  font-family: FontAwesome;
  content: '\f002';
  padding-right: 12px;
  color: gray;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.front {
  z-index: 100;
}

.front-on-click {
  position: absolute;
  background: white;
  cursor: pointer;
}

.blinking-cursor {
  position: absolute;
  top: 10px;
  color: black;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.center {
  /* margin: auto; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
